
blockchainGUI/.vs/blockchainGUI/FileContentIndex/b53d1dc5-fc5a-47c5-837c-eb5b8c10ead3.vsidx
blockchainGUI/.vs/blockchainGUI/FileContentIndex/f809eeb8-af1d-46c3-a9f7-bd9f82e3d495.vsidx
blockchainGUI/.vs/blockchainGUI/FileContentIndex/f9703902-a5a4-41e7-ad98-8f372f5ca650.vsidx
*.vsidx
